// Define variables for your color scheme

// For example:
$sand: #EFEFED;
$klein: #0517B7;
$blue: #16105F;
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
