.artwork-container {
  padding: 10px;
  color: $blue;
  margin: 3%;
}

.artwork-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 550px) {
  .artwork-cards {
    grid-template-columns: 1fr;
  }
}


.artwork-card {
  padding: 8px;
  margin-bottom: 32px;
  img {
    width: 100%;
    transition: transform .1s;
  }
  img:hover{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    }
}


.description {
  margin-top: 12px;
  padding-left: 10px;
  border-left: double;
  border-color: $klein;
  h2 {
    font-size: small;
    letter-spacing: 4px;
  }
  p {
    font-size: x-small;
    font-style: italic;
    margin-bottom: 0px;
  }
}

.collection-description {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 4px;
}
