.artwork-container {
  padding: 10px;
  color: $blue;
  margin: 3%;
}

  .artwork-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    img {
      width: 90%;
    }
  }


.artwork-card {
  padding: 8px;
  margin-bottom: 32px;
}

.description {
  margin-top: 12px;
  padding-left: 10px;
  border-left: double;
  border-color: $klein;
  h2 {
    font-size: small;
    letter-spacing: 4px;
  }
  p {
    font-size: x-small;
    font-style: italic;
    margin-bottom: 0px;
  }
}

.collection-description {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 4px;
}
