.site-container {
  background-color: $sand;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 4px;
  align-items: center;
  justify-content: center;
}

.home-image {
  height: 60%;
}
